@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--medium-text-medium-text-bold-font-weight),var(--sub-text-sub-text-font-weight),700,var(--sub-subtext-sub-subtext-font-weight),var(--medium-text-medium-text-font-weight),var(--text-text-font-weight),var(--text-text-bold-font-weight),400,var(--sub-subtext-sub-subtext-bold-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
