.dataset {
  display: flex;
  flex-direction: column;
  height: 1641px;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.dataset .topbar {
  display: flex;
  width: 1440px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 64px;
  position: relative;
  background-color: #ffffff;
}

.dataset .frame {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.dataset .logo-IPB-university {
  position: relative;
  width: 36px;
  height: 36px;
}

.dataset .div {
  display: flex;
  flex-direction: column;
  width: 550.67px;
  align-items: flex-start;
  position: relative;
}

.dataset .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--medium-text-medium-text-bold-font-family);
  font-weight: var(--medium-text-medium-text-bold-font-weight);
  color: var(--primaryprimary-700);
  font-size: var(--medium-text-medium-text-bold-font-size);
  letter-spacing: var(--medium-text-medium-text-bold-letter-spacing);
  line-height: var(--medium-text-medium-text-bold-line-height);
  font-style: var(--medium-text-medium-text-bold-font-style);
}

.dataset .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--sub-subtext-sub-subtext-bold-font-family);
  font-weight: var(--sub-subtext-sub-subtext-bold-font-weight);
  color: var(--primaryprimary-700);
  font-size: var(--sub-subtext-sub-subtext-bold-font-size);
  letter-spacing: var(--sub-subtext-sub-subtext-bold-letter-spacing);
  line-height: var(--sub-subtext-sub-subtext-bold-line-height);
  font-style: var(--sub-subtext-sub-subtext-bold-font-style);
}

.dataset .navbar {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.dataset .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--medium-text-medium-text-font-family);
  font-weight: var(--medium-text-medium-text-font-weight);
  color: var(--graygray-700);
  font-size: var(--medium-text-medium-text-font-size);
  letter-spacing: var(--medium-text-medium-text-letter-spacing);
  line-height: var(--medium-text-medium-text-line-height);
  font-style: var(--medium-text-medium-text-font-style);
}

.dataset .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--medium-text-medium-text-bold-font-family);
  font-weight: var(--medium-text-medium-text-bold-font-weight);
  color: var(--primaryprimary-500);
  font-size: var(--medium-text-medium-text-bold-font-size);
  letter-spacing: var(--medium-text-medium-text-bold-letter-spacing);
  line-height: var(--medium-text-medium-text-bold-line-height);
  font-style: var(--medium-text-medium-text-bold-font-style);
}

.dataset .group {
  position: absolute;
  top: 80px;
  left: 0;
  width: 1440px;
  height: 353px;
  background-image: url(https://c.animaapp.com/rju6HIDc/img/ipb-university-peringkat-3-universitas-terbaik-se-asean-berdasar.png);
  background-size: 100% 100%;
}

.dataset .rectangle {
  height: 353px;
  background-color: var(--primaryprimary-700);
  opacity: 0.65;
}

.dataset .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  padding: 48px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .text-wrapper-5 {
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.dataset .p {
  position: relative;
  align-self: stretch;
  font-family: var(--medium-text-medium-text-font-family);
  font-weight: var(--medium-text-medium-text-font-weight);
  color: #ffffff;
  font-size: var(--medium-text-medium-text-font-size);
  letter-spacing: var(--medium-text-medium-text-letter-spacing);
  line-height: var(--medium-text-medium-text-line-height);
  font-style: var(--medium-text-medium-text-font-style);
}

.dataset .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 12px;
}

.dataset .search {
  display: flex;
  flex-direction: column;
  height: 83px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dataset .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--medium-text-medium-text-font-family);
  font-weight: var(--medium-text-medium-text-font-weight);
  color: #ffffff;
  font-size: var(--medium-text-medium-text-font-size);
  letter-spacing: var(--medium-text-medium-text-letter-spacing);
  line-height: var(--medium-text-medium-text-line-height);
  font-style: var(--medium-text-medium-text-font-style);
}

.dataset .frame-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 6px 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
}

.dataset .frame-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.dataset .cari-dataset-disini {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--text-text-font-family);
  font-weight: var(--text-text-font-weight);
  color: var(--graygray-700);
  font-size: var(--text-text-font-size);
  letter-spacing: var(--text-text-letter-spacing);
  line-height: var(--text-text-line-height);
  white-space: nowrap;
  font-style: var(--text-text-font-style);
}

.dataset .button {
  display: inline-flex;
  height: 37.89px;
  align-items: center;
  justify-content: center;
  gap: 9.47px;
  padding: 7.11px 21.32px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -2.45px;
  margin-bottom: -2.45px;
  background-color: var(--primaryprimary-500);
  border-radius: 6px;
}

.dataset .icon {
  position: relative;
  width: 14.21px;
  height: 14.21px;
}

.dataset .button-2 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16.6px;
  letter-spacing: 0;
  line-height: normal;
}

.dataset .frame-7 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .button-3 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: var(--small-shadow);
}

.dataset .pilih-filter-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.dataset .pilih-filter {
  position: relative;
  width: fit-content;
  margin-top: -0.50px;
  font-family: var(--text-text-font-family);
  font-weight: var(--text-text-font-weight);
  color: var(--graygray-700);
  font-size: var(--text-text-font-size);
  letter-spacing: var(--text-text-letter-spacing);
  line-height: var(--text-text-line-height);
  white-space: nowrap;
  font-style: var(--text-text-font-style);
}

.dataset .vector {
  position: relative;
  width: 15px;
  height: 8px;
}

.dataset .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .frame-9 {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  padding: 32px 64px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .element-dataset {
  position: relative;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--graygray-700);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.dataset .span {
  font-weight: var(--medium-text-medium-text-bold-font-weight);
  font-family: var(--medium-text-medium-text-bold-font-family);
  font-style: var(--medium-text-medium-text-bold-font-style);
  letter-spacing: var(--medium-text-medium-text-bold-letter-spacing);
  line-height: var(--medium-text-medium-text-bold-line-height);
  font-size: var(--medium-text-medium-text-bold-font-size);
}

.dataset .text-wrapper-7 {
  font-family: var(--medium-text-medium-text-font-family);
  font-weight: var(--medium-text-medium-text-font-weight);
  color: #3a3a3a;
  font-size: var(--medium-text-medium-text-font-size);
  letter-spacing: var(--medium-text-medium-text-letter-spacing);
  font-style: var(--medium-text-medium-text-font-style);
  line-height: var(--medium-text-medium-text-line-height);
}

.dataset .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.dataset .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--text-text-font-family);
  font-weight: var(--text-text-font-weight);
  color: var(--graygray-700);
  font-size: var(--text-text-font-size);
  letter-spacing: var(--text-text-letter-spacing);
  line-height: var(--text-text-line-height);
  white-space: nowrap;
  font-style: var(--text-text-font-style);
}

.dataset .frame-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 6px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--graygray-700);
}

.dataset .text-wrapper-9 {
  margin-top: -1.00px;
  color: var(--graygray-700);
  font-size: var(--sub-text-sub-text-font-size);
  position: relative;
  width: fit-content;
  font-family: var(--sub-text-sub-text-font-family);
  font-weight: var(--sub-text-sub-text-font-weight);
  letter-spacing: var(--sub-text-sub-text-letter-spacing);
  line-height: var(--sub-text-sub-text-line-height);
  font-style: var(--sub-text-sub-text-font-style);
}

.dataset .vector-wrapper {
  position: relative;
  width: 10px;
  height: 11px;
}

.dataset .img {
  position: absolute;
  width: 70.00%;
  height: 90.48%;
  top: 4.76%;
  left: 14.48%;
}

.dataset .frame-12 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px 32px;
  padding: 0px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .component {
  display: flex;
  flex-direction: column;
  width: 416px;
  height: 258px;
  align-items: center;
  gap: 12px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--card-luar);
}

.dataset .div-wrapper {
  display: flex;
  height: 39px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--primaryprimary-50);
}

.dataset .text-wrapper-10 {
  width: fit-content;
  font-weight: var(--text-text-bold-font-weight);
  color: var(--primaryprimary-500);
  font-size: var(--text-text-bold-font-size);
  white-space: nowrap;
  position: relative;
  font-family: var(--text-text-bold-font-family);
  letter-spacing: var(--text-text-bold-letter-spacing);
  line-height: var(--text-text-bold-line-height);
  font-style: var(--text-text-bold-font-style);
}

.dataset .frame-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  padding: 0px 20px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--sub-subtext-sub-subtext-font-family);
  font-weight: var(--sub-subtext-sub-subtext-font-weight);
  color: var(--graygray-400);
  font-size: var(--sub-subtext-sub-subtext-font-size);
  letter-spacing: var(--sub-subtext-sub-subtext-letter-spacing);
  line-height: var(--sub-subtext-sub-subtext-line-height);
  font-style: var(--sub-subtext-sub-subtext-font-style);
}

.dataset .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  font-family: var(--text-text-bold-font-family);
  font-weight: var(--text-text-bold-font-weight);
  color: var(--primaryprimary-500);
  font-size: var(--text-text-bold-font-size);
  letter-spacing: var(--text-text-bold-letter-spacing);
  line-height: var(--text-text-bold-line-height);
  font-style: var(--text-text-bold-font-style);
}

.dataset .frame-16 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.dataset .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--sub-text-sub-text-font-family);
  font-weight: var(--sub-text-sub-text-font-weight);
  color: var(--blueblue-400);
  font-size: var(--sub-text-sub-text-font-size);
  letter-spacing: var(--sub-text-sub-text-letter-spacing);
  line-height: var(--sub-text-sub-text-line-height);
  font-style: var(--sub-text-sub-text-font-style);
}

.dataset .frame-17 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 0px 0px 0px 8px;
  position: relative;
  flex: 0 0 auto;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: var(--primaryprimary-500);
}

.dataset .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--sub-text-sub-text-font-family);
  font-weight: var(--sub-text-sub-text-font-weight);
  color: var(--dangerdanger-300);
  font-size: var(--sub-text-sub-text-font-size);
  letter-spacing: var(--sub-text-sub-text-letter-spacing);
  line-height: var(--sub-text-sub-text-line-height);
  font-style: var(--sub-text-sub-text-font-style);
}

.dataset .frame-18 {
  display: flex;
  flex-direction: column;
  height: 63px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.dataset .text-wrapper-15 {
  position: relative;
  width: 366.67px;
  margin-top: -1.00px;
  font-family: var(--sub-text-sub-text-font-family);
  font-weight: var(--sub-text-sub-text-font-weight);
  color: var(--graygray-700);
  font-size: var(--sub-text-sub-text-font-size);
  letter-spacing: var(--sub-text-sub-text-letter-spacing);
  line-height: var(--sub-text-sub-text-line-height);
  font-style: var(--sub-text-sub-text-font-style);
}

.dataset .text-wrapper-16 {
  position: relative;
  flex: 1;
  align-self: stretch;
  font-family: var(--sub-text-sub-text-font-family);
  font-weight: var(--sub-text-sub-text-font-weight);
  color: var(--graygray-700);
  font-size: var(--sub-text-sub-text-font-size);
  letter-spacing: var(--sub-text-sub-text-letter-spacing);
  line-height: var(--sub-text-sub-text-line-height);
  font-style: var(--sub-text-sub-text-font-style);
}

.dataset .img-wrapper {
  position: relative;
  width: 25px;
  height: 16px;
}

.dataset .vector-2 {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 22px;
  height: 13px;
}

.dataset .component-2 {
  display: flex;
  flex-direction: column;
  width: 415px;
  height: 258px;
  align-items: center;
  gap: 12px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--card-luar);
}

.dataset .frame-19 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 0px 64px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset .icon-2 {
  position: relative;
  width: 15px;
  height: 8px;
  transform: rotate(-90.00deg);
}

.dataset .vector-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -43.75%;
  left: 23.33%;
  transform: rotate(90.00deg);
}

.dataset .frame-20 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.dataset .frame-21 {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--primaryprimary-500);
  border-radius: 2px;
}

.dataset .text-wrapper-17 {
  color: #ffffff;
  font-size: var(--text-text-font-size);
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-family: var(--text-text-font-family);
  font-weight: var(--text-text-font-weight);
  letter-spacing: var(--text-text-letter-spacing);
  line-height: var(--text-text-line-height);
  font-style: var(--text-text-font-style);
}

.dataset .frame-22 {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  border-radius: 2px;
}

.dataset .icon-3 {
  position: relative;
  width: 15px;
  height: 8px;
  margin-right: -3.50px;
  transform: rotate(-90deg);
}

.dataset .vector-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -43.75%;
  left: 23.33%;
  transform: rotate(90deg);
}

.dataset .frame-23 {
  display: flex;
  height: 178px;
  align-items: center;
  gap: 12px;
  padding: 0px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(38, 60, 146, 1) 64%,
    rgba(19, 33, 104, 1) 86%
  );
}

.dataset .frame-24 {
  display: flex;
  flex-direction: column;
  width: 383px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.dataset .frame-25 {
  display: flex;
  flex-direction: column;
  width: 338px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.dataset .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--medium-text-medium-text-bold-font-family);
  font-weight: var(--medium-text-medium-text-bold-font-weight);
  color: #ffffff;
  font-size: var(--medium-text-medium-text-bold-font-size);
  letter-spacing: var(--medium-text-medium-text-bold-letter-spacing);
  line-height: var(--medium-text-medium-text-bold-line-height);
  font-style: var(--medium-text-medium-text-bold-font-style);
}

.dataset .text-wrapper-19 {
  position: relative;
  align-self: stretch;
  font-family: var(--text-text-font-family);
  font-weight: var(--text-text-font-weight);
  color: #ffffff;
  font-size: var(--text-text-font-size);
  letter-spacing: var(--text-text-letter-spacing);
  line-height: var(--text-text-line-height);
  font-style: var(--text-text-font-style);
}

.dataset .frame-26 {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 84px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}
