:root {
  --primaryprimary-700: rgba(19, 33, 104, 1);
  --graygray-700: rgba(58, 58, 58, 1);
  --primaryprimary-500: rgba(38, 60, 146, 1);
  --graygray-400: rgba(132, 132, 132, 1);
  --blueblue-400: rgba(48, 177, 196, 1);
  --dangerdanger-300: rgba(222, 128, 116, 1);
  --primaryprimary-50: rgba(233, 239, 252, 1);
  --medium-text-medium-text-bold-font-family: "Inter", Helvetica;
  --medium-text-medium-text-bold-font-weight: 700;
  --medium-text-medium-text-bold-font-size: 18px;
  --medium-text-medium-text-bold-letter-spacing: 0px;
  --medium-text-medium-text-bold-line-height: normal;
  --medium-text-medium-text-bold-font-style: normal;
  --sub-subtext-sub-subtext-bold-font-family: "Inter", Helvetica;
  --sub-subtext-sub-subtext-bold-font-weight: 600;
  --sub-subtext-sub-subtext-bold-font-size: 12px;
  --sub-subtext-sub-subtext-bold-letter-spacing: 0px;
  --sub-subtext-sub-subtext-bold-line-height: normal;
  --sub-subtext-sub-subtext-bold-font-style: normal;
  --medium-text-medium-text-font-family: "Inter", Helvetica;
  --medium-text-medium-text-font-weight: 400;
  --medium-text-medium-text-font-size: 18px;
  --medium-text-medium-text-letter-spacing: 0px;
  --medium-text-medium-text-line-height: normal;
  --medium-text-medium-text-font-style: normal;
  --text-text-font-family: "Inter", Helvetica;
  --text-text-font-weight: 400;
  --text-text-font-size: 16px;
  --text-text-letter-spacing: 0px;
  --text-text-line-height: normal;
  --text-text-font-style: normal;
  --sub-text-sub-text-font-family: "Inter", Helvetica;
  --sub-text-sub-text-font-weight: 400;
  --sub-text-sub-text-font-size: 14px;
  --sub-text-sub-text-letter-spacing: 0px;
  --sub-text-sub-text-line-height: normal;
  --sub-text-sub-text-font-style: normal;
  --text-text-bold-font-family: "Inter", Helvetica;
  --text-text-bold-font-weight: 600;
  --text-text-bold-font-size: 16px;
  --text-text-bold-letter-spacing: 0px;
  --text-text-bold-line-height: normal;
  --text-text-bold-font-style: normal;
  --sub-subtext-sub-subtext-font-family: "Inter", Helvetica;
  --sub-subtext-sub-subtext-font-weight: 400;
  --sub-subtext-sub-subtext-font-size: 12px;
  --sub-subtext-sub-subtext-letter-spacing: 0px;
  --sub-subtext-sub-subtext-line-height: normal;
  --sub-subtext-sub-subtext-font-style: normal;
  --small-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  --card-luar: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
