{# Footer utama IPB Dataverse #}

<footer class="ipb-footer">
  <div class="container ipb-footer-inner">

    <div>
      <div class="ipb-footer-column-title">PORTAL DATA IPB UNIVERSITY</div>
      <a href="#" class="ipb-footer-link">Kontak kami</a>
      <a href="#" class="ipb-footer-link">Pengembangan terbaru</a>
    </div>

    <div>
      <div class="ipb-footer-column-title">Developers</div>
      <a href="https://docs.ckan.org/" target="_blank" rel="noopener" class="ipb-footer-link">
        CKAN Documentation
      </a>
    </div>

  </div>
</footer>
